body {
  background-color: #192a56;
}

.container {
  max-width: 60%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.product-card {
  max-width: 50%;
  background-color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  box-shadow: 1px 1px 10px dodgerblue;
}

.product-card__image {
  width: 40%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.product-card__picture {
  width: 100%;
  margin-bottom: 0;
}

.product-card__info {
  width: 60%;
  padding: 10px 20px;
}

.product-card__title { }

.product-card__button {
  display: block;
  width: 100%;
  background-color: rgb(52, 152, 219);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 4px 0px;
}

.product-card__button:hover {
  background-color: rgba(52, 152, 219, 0.7);
}